<div class="wrapper">
    
    <div class="text-center mt-4 name">
        LOGIN
    </div>
    <form class="p-3 mt-3" [formGroup]="loginForm" (ngSubmit)="proceedToLogin()">
        <div class="form-field d-flex align-items-center">
            <span class="far fa-user">username</span>
            <input type="text" name="userName" id="userName" placeholder="Username"
            formControlName="name"
            >
        </div>
        <div class="form-field d-flex align-items-center">
            <span class="fas fa-key"></span>
            <input type="password" name="password" id="pwd" placeholder="Password" 
            formControlName="password"
            >
        </div>
        <button class="btn mt-3" type="submit">Login</button>
    </form>
    <div class="text-center fs-6">
        <a href="#">Don't have account?</a> or <a href="#" routerLink="">Sign up</a>
    </div>
</div>
